[data-supervisor-selector="process-canonical-view"] tr:first-child {
  border-top: solid 1px var(--color-gray-200);
}

[data-supervisor-selector="process-canonical-view"] tr {
  background-color: unset !important;
}

[data-supervisor-process-state]::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  content: "";
  border-radius: 4px;
}

[data-supervisor-process-state="green"]::after {
  background-color: #23ad23;
}

[data-supervisor-process-state="yellow"]::after {
  background-color: #d9b712;
}

[data-supervisor-process-state="red"]::after {
  background-color: #de3c28;
}

[data-supervisor-process-state="gray"]::after {
  background-color: #c5c5c5;
}

.supervisor-process-log-output {
  display: block;
  overflow-y: scroll;
  height: 65vh;
  padding: 0.35em;
  white-space: pre;
  color: #363636;
  border: solid 1px #363636;
  background-color: #f9f9f9;
  font-family: "Lucida Console", Courier, monospace;
}

.supervisor-collection-header-pid {
  width: 8rem;
}

.supervisor-collection-header-uptime {
  min-width: 10rem;
}

.supervisor-collection-header-operations {
  width: 12rem;
}

span[data-supervisor-process-value="stateLabel"] {
  white-space: nowrap;
}
