{#
/**
 * @file
 * Default theme implementation to display field.
 *
 * Unlike core field template this allows to style arbitary data.
 */
#}
<div {{ attributes.addClass('field field--label-above') }}>
  <div class="field__label">{{ label }}</div>
  {% if list %}
    <ul>
      {% for item in items %}
        <li class="field__item">{{ item }}</li>
      {% endfor %}
    </ul>
  {% else %}
    {% for item in items %}
      <div class="field__item">{{ item }}</div>
    {% endfor %}
  {% endif %}
</div>

